:root {
    --bg-color: #081b29;
    --second-bg-color:#112e42;
    --text-color:white;
    --main-color:rgb(0, 187, 250);
}
.skillsSection {
    height:40rem;
    background-color: var(--second-bg-color);
}